  #Кодировка#
  AddDefaultCharset utf-8
  Header set Access-Control-Allow-Origin "*"
  
  ErrorDocument 400 /LFcore/browse_errors/errors.php?code=400
  ErrorDocument 403 /LFcore/browse_errors/errors.php?code=403
  ErrorDocument 404 /LFcore/browse_errors/errors.php?code=404
  ErrorDocument 405 /LFcore/browse_errors/errors.php?code=405
  ErrorDocument 408 /LFcore/browse_errors/errors.php?code=408
  ErrorDocument 410 /LFcore/browse_errors/errors.php?code=410
  ErrorDocument 500 /LFcore/browse_errors/errors.php?code=500
  ErrorDocument 502 /LFcore/browse_errors/errors.php?code=502
  ErrorDocument 504 /LFcore/browse_errors/errors.php?code=504
  ErrorDocument 505 /LFcore/browse_errors/errors.php?code=505
  
  #Директория#
  DirectoryIndex index.php
  Options -Indexes
  
  RewriteEngine On
  
  #Разные реврайты#
  RewriteRule ^online/?$ help/users.php?act=online [L,QSA]
  RewriteRule ^administration/?$ help/users.php?act=adm [L,QSA]
  RewriteRule ^verified.php?$ user.php?act=verified [L,QSA]
  RewriteRule ^them([0-9]*)/?$ user/them.php?id=$1 [L,QSA]
  RewriteRule ^post([0-9]*)/?$ user/post.php?id=$1 [L,QSA]
  RewriteRule ^rules/?$ help/rules.php [L,QSA]
  RewriteRule ^faq/?$ help/faq.php [L,QSA]
  RewriteRule ^privacy/?$ help/privacy.php [L,QSA]
  RewriteRule ^tooltips/?$ help/tooltips.php [L,QSA]
  RewriteRule ^doska/?$ help/doska.php [L,QSA]
  RewriteRule ^faq/answer-([0-9]*)/?$ help/faq.php?act=answer&id=$1 [L,QSA]
  RewriteRule ^users/?$ help/users.php [L,QSA]
  RewriteRule ^search/?$ forum/search/search.php [L,QSA]
  RewriteRule ^perevod([0-9]*)/?$ user/transact/perevod/perevod.php?id=$1 [L,QSA]
  RewriteRule ^balance/?$ user/transact/balance.php [L,QSA]
  RewriteRule ^balance/perevod?$ user/transact/perevod/search.php [L,QSA]
  RewriteRule ^balance/payments?$ user/transact/payments/index.php [L,QSA]
  RewriteRule ^complaint/?$ forum/complaint.php [L,QSA]
  
  RewriteRule ^account/?$ account/index.php [L,QSA]
  RewriteRule ^account/settings/?$ account/settings.php [L,QSA]
  RewriteRule ^account/security/?$ account/security.php [L,QSA]
  RewriteRule ^account/avatar/?$ account/avatar.php [L,QSA]
  RewriteRule ^account/avatar/delete?$ account/avatar.php?delava [L,QSA]
  RewriteRule ^account/upgrade/?$ account/upgrade.php [L,QSA]
  
  #Реврайты для регистрации#
  RewriteRule ^login/?$ auth/login.php [L,QSA]
  RewriteRule ^registr/?$ auth/registr.php [L,QSA]
  RewriteRule ^repass/?$ auth/pass.php [L,QSA]
  RewriteRule ^autolog/?$ auth/autolog.php [L,QSA]
  
  #Реврайты для почты#
  RewriteRule ^mes/?$ user/mes.php [L,QSA]
  RewriteRule ^mes/save/?$ user/mes.php?act=save [L,QSA]
  RewriteRule ^mes/search/?$ user/mes_search/search.php [L,QSA]
  RewriteRule ^mes/ignor_list/?$ user/mes.php?act=ignor_list [L,QSA]
  RewriteRule ^mes/delsave([0-9]*)/?$ user/mes.php?act=delsave&id=$1 [L,QSA]
  RewriteRule ^mes/save_mes([0-9]*)/?$ user/mes.php?act=save_mes&id=$1 [L,QSA]
  RewriteRule ^mes/ignor_up([0-9]*)/?$ user/mes.php?act=ignor_up&id=$1 [L,QSA]
  RewriteRule ^mes/newmes([0-9]*)/?$ user/mes.php?act=newmes&id=$1 [L,QSA]
  RewriteRule ^mes/dialog([0-9]*)/?$ user/mes.php?act=dialog&id=$1 [L,QSA]
  RewriteRule ^mes/ignor([0-9]*)/?$ user/mes.php?act=ignor&id=$1 [L,QSA]
  RewriteRule ^mes/del_c([0-9]*)/?$ user/mes.php?act=del_c&id=$1 [L,QSA]
  
  #Реврайты для уведомлений#
  RewriteRule ^lenta/?$ user/lenta.php [L,QSA]  
  RewriteRule ^lenta/dellenta/?$ user/lenta.php?act=dellenta [L,QSA] 
  
  #Реврайты для админки# 
  RewriteRule ^admin/ban/list/addban([0-9]*)/?$ admin/index.php?act=addban&id=$1 [L,QSA]
  RewriteRule ^admin/ban/list/updateban([0-9]*)/?$ admin/index.php?act=updateban&id=$1 [L,QSA]  
  RewriteRule ^admin/ban/?$ admin/index.php?act=ban [L,QSA]
  RewriteRule ^admin/ban/list?$ admin/index.php?act=ban_list [L,QSA]
  RewriteRule ^admin/ban/jalob?$ admin/index.php?act=jalob_ban [L,QSA]
  RewriteRule ^admin/users/?$ admin/index.php?act=us [L,QSA]
  RewriteRule ^admin/up_us_([0-9]*)/?$ admin/index.php?act=upus&id=$1 [L,QSA]
  RewriteRule ^admin/delete_us_([0-9]*)/?$ admin/index.php?act=deleteus&id=$1 [L,QSA]
  RewriteRule ^admin/aspam/?$ admin/index.php?act=aspam [L,QSA]
  RewriteRule ^admin/search-ip/?$ admin/ip_search/search.php [L,QSA]
  RewriteRule ^admin/bonus/?$ admin/index.php?act=bonus [L,QSA]
  RewriteRule ^admin/settings/?$ admin/settings.php [L,QSA]
  RewriteRule ^admin/prefix/?$ admin/index.php?act=prefix-them [L,QSA]
  RewriteRule ^admin/rek/?$ admin/rek.php [L,QSA]
  RewriteRule ^admin/rek/add_ads/?$ admin/rek.php?act=add_rek [L,QSA]
  RewriteRule ^admin/ras/?$ admin/ras.php [L,QSA]
  RewriteRule ^admin/groups/?$ admin/index.php?act=user-group [L,QSA]
  RewriteRule ^admin/groups/new-group?$ admin/index.php?act=set-user-group [L,QSA]
  RewriteRule ^admin/groups/edit-group/([0-9]*)/?$ admin/index.php?act=up-user-group&id=$1 [L,QSA]
  RewriteRule ^admin/faq/?$ admin/index.php?act=faq [L,QSA]
  RewriteRule ^admin/faq/new-faq?$ admin/index.php?act=new-faq [L,QSA]
  RewriteRule ^admin/faq/edit-faq([0-9]*)/?$ admin/index.php?act=edit-faq&id=$1 [L,QSA]
  RewriteRule ^admin/tooltips/?$ admin/tooltip.php [L,QSA]
  RewriteRule ^admin/tooltips/new-tooltip?$ admin/tooltip.php?act=new-tooltip [L,QSA]
  RewriteRule ^admin/style/?$ admin/index.php?act=style [L,QSA]
  RewriteRule ^admin/tooltips/edit-tooltip([0-9]*)/?$ admin/tooltip.php?act=edit-tooltip&id=$1 [L,QSA]
  RewriteRule ^admin/auth/?$ admin/auth.php [L,QSA]
  RewriteRule ^admin/auth/vk/?$ admin/auth.php?act=vk [L,QSA]
  RewriteRule ^admin/auth/vk/set-vk/?$ admin/auth.php?act=set-vk [L,QSA]
  RewriteRule ^admin/auth/vk/edit-vk([0-9]*)/?$ admin/auth.php?act=edit-vk&id=$1 [L,QSA]
  RewriteRule ^admin/set-style-([0-9]*)/?$ admin/index.php?act=set-style&id=$1 [L,QSA]
  RewriteRule ^admin/rem-style-([0-9]*)/?$ admin/index.php?act=rem-style&id=$1 [L,QSA]
  RewriteRule ^admin/rules/?$ admin/rules.php [L,QSA]
  RewriteRule ^admin/rules/new-rules?$ admin/rules.php?act=new-rules [L,QSA]
  RewriteRule ^admin/rules/edit-rules([0-9]*)/?$ admin/rules.php?act=edit-rules&id=$1 [L,QSA]
  RewriteRule ^admin/up-level/?$ admin/up-level.php [L,QSA]
  RewriteRule ^admin/complaints/?$ admin/complaints.php [L,QSA]
  RewriteRule ^admin/up-level/new-upgrade/?$ admin/up-level.php?act=new-prev [L,QSA]
  RewriteRule ^admin/up-level/edit-upgrade([0-9]*)/?$ admin/up-level.php?act=up-prev&id=$1 [L,QSA]
  
  #Реврайты для смайлов#
  RewriteRule ^admin/smile/?$ admin/smile.php [L,QSA]
  RewriteRule ^admin/smile/addpapka/?$ admin/smile.php?act=addpapka [L,QSA]
  RewriteRule ^admin/smile/razdel_([0-9]*)/?$ admin/smile.php?act=razdel&id=$1 [L,QSA]
  RewriteRule ^admin/smile/delsmile_([0-9]*)/?$ admin/smile.php?act=delsmile&id=$1 [L,QSA]
  RewriteRule ^admin/smile/delrazdel_([0-9]*)/?$ admin/smile.php?act=delrazdel&id=$1 [L,QSA]
  RewriteRule ^admin/smile/newsmile_([0-9]*)/?$ admin/smile.php?act=newsmile&id=$1 [L,QSA]
  
  #Реврайты для анкеты#
  RewriteRule ^id([0-9]*)/?$ user/anketa.php?id=$1 [L,QSA]
  RewriteRule ^comment_id_([0-9]*)/?$ user/anketa.php?act=comment&id=$1 [L,QSA]  
  RewriteRule ^stena_id_([0-9]*)/?$ user/anketa.php?act=stena&id=$1 [L,QSA] 
  RewriteRule ^delmsg_([0-9]*)/?$ user/anketa.php?act=delmsg&id=$1 [L,QSA]
  RewriteRule ^reputation([0-9]*)/?$ user/anketa.php?act=repa&id=$1 [L,QSA] 
  RewriteRule ^del_repa_([0-9]*)/?$ user/anketa.php?act=del_repa&id=$1 [L,QSA]
  
  #Реврайты для друзей#
  RewriteRule ^friends([0-9]*)/?$ user/friends.php?id=$1 [L,QSA]
  RewriteRule ^friends/add([0-9]*)/?$ user/friends.php?act=add&id=$1 [L,QSA]
  RewriteRule ^friends/da([0-9]*)/([0-9]*)/?$ user/friends.php?act=da&id=$1&fid=$2 [L,QSA]
  RewriteRule ^friends/delete([0-9]*)/?$ user/friends.php?act=delete&id=$1 [L,QSA]
  RewriteRule ^friends/bid/?$ user/friends.php?act=bid [L,QSA]
  
  #Реврайты для форума#
  RewriteRule ^forum/nr/?$ forum/index.php?act=nr [L,QSA]
  RewriteRule ^forum/myt/?$ forum/index.php?act=my_tem [L,QSA]
  RewriteRule ^forum/myp/?$ forum/index.php?act=my_post [L,QSA]
  RewriteRule ^newt/?$ forum/index.php?act=new_tem [L,QSA]
  RewriteRule ^zakl/?$ forum/index.php?act=my_zakl [L,QSA]
  RewriteRule ^newp/?$ forum/index.php?act=new_post [L,QSA]
  RewriteRule ^forum/who_forum/?$ forum/index.php?act=who_forum [L,QSA]
  RewriteRule ^forum/like([0-9]*)/?$ forum/index.php?act=like&id=$1 [L,QSA]
  RewriteRule ^tema([0-9]*)/who/?$ forum/index.php?act=who_tema&id=$1 [L,QSA]
  RewriteRule ^razdel([0-9]*)/?$ forum/index.php?act=razdel&id=$1 [L,QSA]
  RewriteRule ^kat([0-9]*)/?$ forum/index.php?act=kat&id=$1 [L,QSA]
  RewriteRule ^tema([0-9]*)/?$ forum/index.php?act=tema&id=$1 [L,QSA]
  RewriteRule ^new-them-([0-9]*)/?$ forum/index.php?act=nt&id=$1 [L,QSA]
  RewriteRule ^forum/zaklad([0-9]*)/?$ forum/index.php?act=zaklad&id=$1 [L,QSA]
  RewriteRule ^forum/new-kat-([0-9]*)/?$ forum/index.php?act=nk&id=$1 [L,QSA]
  RewriteRule ^forum/tema_close([0-9]*)/?$ forum/index.php?act=tema_close&id=$1 [L,QSA]
  RewriteRule ^forum/tema_del([0-9]*)/?$ forum/index.php?act=tema_del&id=$1 [L,QSA]
  RewriteRule ^forum/tema_top([0-9]*)/?$ forum/index.php?act=tema_top&id=$1 [L,QSA]
  RewriteRule ^forum/post_del([0-9]*)/?$ forum/index.php?act=post_del&id=$1 [L,QSA]
  RewriteRule ^forum/post_otvet([0-9]*)/?$ forum/index.php?act=post_otvet&id=$1 [L,QSA]
  RewriteRule ^forum/post_red([0-9]*)/?$ forum/index.php?act=post_red&id=$1 [L,QSA]
  RewriteRule ^forum/post_citata([0-9]*)/?$ forum/index.php?act=post_citata&id=$1 [L,QSA]
  RewriteRule ^forum/del_razdel([0-9]*)/?$ forum/index.php?act=del_razdel&id=$1 [L,QSA]
  RewriteRule ^forum/red_razdel([0-9]*)/?$ forum/index.php?act=red_razdel&id=$1 [L,QSA]
  RewriteRule ^forum/del_kat([0-9]*)/?$ forum/index.php?act=del_kat&id=$1 [L,QSA]
  RewriteRule ^forum/red_kat([0-9]*)/?$ forum/index.php?act=red_kat&id=$1 [L,QSA]
  RewriteRule ^forum/delfile([0-9]*)/?$ forum/index.php?act=delfile&id=$1 [L,QSA]
  RewriteRule ^forum/delfile([0-9]*)/([0-9]*)/?$ forum/index.php?act=delfile&id=$1&id_file=$2 [L,QSA]
  
  #Реврайты для повышений#
  RewriteRule ^upgrade/?$ user/us/up-level.php [L,QSA]
  RewriteRule ^upgrade/pay-upgrade([0-9]*)/?$ user/us/upgrade/index.php?id=$1 [L,QSA]
  
  #Системные реврайты#
  RewriteRule ^readlen/?$ LFcore/src/readlen.php [L,QSA]
  RewriteRule ^likes/?$ LFcore/src/likes.php [L,QSA]
  RewriteRule ^bookmark/?$ LFcore/src/bookmarks.php [L,QSA]
  RewriteRule ^lenta_more/?$ LFcore/src/load_more.php [L,QSA]
  RewriteRule ^excluded_kat/?$ LFcore/src/handle_excluded_kat.php [L,QSA]
  
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d